*{
  padding: 0px;
  margin: 0px;
}
.head{
 background-color: hsl(80, 43%, 41%);
}
.head1{
  background-color: rgba(95, 112, 17, 0.8);
}

.first_text{
  color: #e0ea17;
  font-size:20px;
}
.second_text{
  color: white;
  font-size: 43px;
}
.third_text{
  color: white;
   line-height: 1.5;
  font-weight: 500;
  width: 70%;
  font-size: 17px;
}
 .read_btn{
  background-color:yellow;
  border: #e0ea17;
 }
 .contact_btn{
  border: white;
 }
.bgimg{
  width: 100%;
}
.abtimg{
  width: 100%;
}
.blck{
  background-color: black;
  /* height: 400px; */
}
.f_text{
  color: white;
  font-weight:300;
}
.search_box{
  width: 100%;
  height: 60px;
  background-color: white;
  border-radius: 100px;
}
.search_box h6{
  color: darkgrey;
  float: left;
}
.innerbox{
  width: 50%;
  height: 50px;
  background-color: yellow;
  float: right;
  border-radius: 100px;
}
  .innerbox h5{
    font-weight: 350;
    color: black;
  }
  .textclr{
    color: white;
  }
  .cus{
    color: rgb(68, 100, 3);
     font-weight: 200
  }
  .bgclr{
    background-color: rgb(247, 241, 241);
  }
  .para{
    width: 80%;
    font-size: 20px;
  }.linktext{
    color: #e0ea17;
    font-size: 20px;
    font-weight: 500;
  }
  .textctr{
    width: 90%;
    margin-left: 100px;
    margin-top: 80px;
  }
