*{
  padding: 0%;
  margin: 0px;
}
.head{
 background-color: #90953b;

}
.navtext{
  font-size: 20px;
}
.first_text{
  color: #e0ea17;
  font-size:20px;
}
.second_text{
  color: white;
  font-size: 43px;
}
.third_text{
  color: white;
      line-height: 1.5;
    font-weight: 400;
}
 .read_btn{
  background-color:yellow;
  border: #e0ea17;
 }
 .contact_btn{
  border: white;
 }
.bgimg{
  width: 100%;
}
.abtimg{
  width: 100%;
}
.blck{
  background-color: black;
  /* height: 400px; */
}
.f_text{
  color: white;
  font-weight:300;
}
.search_box{
  width: 100%;
  height: 60px;
  background-color: white;
  border-radius: 100px;
}
.search_box h6{
  color: darkgrey;
  float: left;
}
.innerbox{
  width: 50%;
  height: 50px;
  background-color: yellow;
  float: right;
  border-radius: 100px;
}
  .innerbox h5{
    font-weight: 350;
    color: black;
  }
  .textclr{
    color: white;
  }